.form-wrapper {
    width: 50%;
    min-width: 340px;
    max-width: 500px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.1), -1px -1px 10px 0 rgba(0,0,0,0.1);
    &:after {
        content: url('../../assets/cat-pink.png');
        position: absolute;
        top: -43%;
        right: -10%;
        z-index: -1;
    }
    &:before {
        content: url('../../assets/cat-yellow.png');
        position: absolute;
        bottom: -35%;
        left: 5%;
        z-index: 1;
    }
    .title {
        text-align: center;
        color: $color-main;
        font-size: 2.5rem;
        padding-bottom: 5rem;
    }
    .form {
        width: 100%;
    }
    .input-wrapper {
        position: relative;
        .error {
            position: absolute;
            color: red;
            font-size: 1.1rem;
            bottom: -1.5rem;
        }
    }
    .input {
        position: relative;
        z-index: 100;
        margin-bottom: 3rem;
        padding: .8rem 0;
        border: none;
        font-size: 1.6rem;
        border-bottom: 2px solid #888;
        color: #171717;
        width: 100%;
        display: block;
        &:focus {
            border-bottom: 2px solid $color-main;
        }
    }
    .btn-submit {
        padding: 0.8rem 2.5rem;
        float: right;
        cursor: pointer;
        background-color: $color-main;
        font-size: 1.6rem;
        color: #fff;
        text-transform: uppercase;
        transition: background .2s;
        &:hover {
            background-color: $color-main-hover;
        }
    }
}