.form-wrapper {
    width: 50%;
    min-width: 340px;
    max-width: 500px;
    background-color: #fff;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid red;
    .form {
        width: 100%;

    }
    .input {
        margin-bottom: 2rem;
        padding: 1rem 0;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
        display: block;
    }
}