.chat-wrapper {
    position: relative;
    margin: 0 auto;
    background: #fff;
    width: 50%;
    min-width: 340px;
    max-width: 500px;
    min-height: 600px;
    overflow: hidden;
    color: #222;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.1), -1px -1px 10px 0 rgba(0,0,0,0.1);
}

.chat-header {
    background: url('../../assets/cat-brown.png') no-repeat, $color-main;
    background-position: top 1.5rem right 3rem;
    background-size: 145px;
    padding: 1rem 2rem;
    height: 80px;
    .room {
        font-size: 2rem;
    }
    .name {
        font-weight: normal;
        font-size: 1.3rem;
    }
    .close {
        font-weight: bold;
        position: absolute;
        font-size: 2rem;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
        transition: transform .2s;
        &:hover {
            transform: scale(1.2);
        }
    }
 
}

.input-box {
    display: flex;
    justify-content: space-between;
    .msg-input {
        padding: 2rem 1rem;
        font-size: 1.5rem;
        width: 80%;
        border-top: 1px solid $color-main;
    }
    .btn-send {
        width: 20%;
        background-color: $color-main;
        font-size: 1.7rem;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: background .2s;
        &:hover {
            background-color: $color-main-hover;
        }
    }
}

.chatbox {
    overflow: auto;
    flex: auto;
    max-height: 465px;
}

.msg-wrapper {
    padding: 1rem .8rem;
    display: flex;
    flex-flow: column nowrap;
    &.align-right {
        align-items: flex-end;
    }
    .username {
        font-size: 1.2rem;
        padding: .2rem .8rem;
    }
    .msg {
        background-color: rgb(221, 221, 221);
        padding: 1rem 1.5rem;
        border-radius: 8px;
        text-align: center;
        width: max-content;
        &.msg_color {
            background-color: $color-main;
        }
        .msg__text {
            font-size: 1.4rem;
        }
    }
}
